<%= tag.tr id: do %>
  <% if label.present? %>
    <th scope="row">
      <%= label %>
    </th>
  <% end %>
  <% if first_value.present? %>
    <td class="col-3" scope="row">
      <%= first_value %>
    </td>
  <% end %>
  <% values.each do |value| %>
    <td><%= value %></td>
  <% end %>
  <% cells.each do |cell| %>
    <% if colspan.present? %>
      <th scope="row" colspan="<%= colspan %>"><%= cell %></th>
    <% else %>
      <td><%= cell %></td>
    <% end %>
  <% end %>
  <% if empty_cell? %>
    <td></td>
  <% end %>
<% end %>
