<%= render Edit::StepComponent.new(step: SubmissionPresenter::ABSTRACT_STEP,
                                   submission:,
                                   title: 'Enter your abstract',
                                   data: { controller: 'abstract' },
                                   done_data: { abstract_target: 'doneButton' },
                                   done_disabled: done_disabled?) do |component| %>
  <% component.with_help_content do %>
    <%= t('steps.abstract.help_html') %>
  <% end %>

  <% component.with_body_content do %>
    <p>Enter your abstract in plain text (no HTML or special formatting, such as bullets or indentation).</p>

    <%= helpers.with_submission_form(submission) do |form| %>
      <div>
        <%= form.label :abstract, class: 'form-label' do %>
          <span class="fw-bold">Abstract</span> <%= helpers.required_field %>
        <% end %>
        <%= form.text_area :abstract, rows: 10, class: 'form-control', data: { controller: 'submit', action: 'blur->submit#submit keyup->abstract#toggleButton' } %>
      </div>
    <% end %>
  <% end %>
<% end %>
