<%= render Edit::StepComponent.new(step: SubmissionPresenter::PERMISSION_FILES_STEP,
                                   title: t('steps.permission_files.title'),
                                   submission:,
                                   edit_focus_id:,
                                   done_disabled: done_disabled?) do |component| %>
  <% component.with_help_content do %>
    <%= t('steps.permission_files.help_html') %>
  <% end %>

  <% component.with_body_content do %>
    <%= helpers.with_submission_form(submission) do |form| %>
      <div class="flex-grow-1">
        <div class="d-flex align-items-start">
          <fieldset class="w-100">
            <div>
              <%= render Edit::PermissionFilesStepBodyHelpComponent.new %>
            </div>
            <div>
              <%= render Elements::Forms::ToggleComponent.new(form:,
                                                              field_name: :permissions_provided,
                                                              container_classes: 'mb-4') do |component| %>
                <% component.with_left_toggle_option(form:,
                                                     field_name: :permissions_provided,
                                                     label: 'Yes',
                                                     data: { controller: 'submit', action: 'submit#submit' },
                                                     value: 'true') %>
                <% component.with_right_toggle_option(form:,
                                                      field_name: :permissions_provided,
                                                      label: 'No',
                                                      data: { controller: 'submit', action: no_permissions_action },
                                                      value: nil) %>
              <% end %>
            </div>
          </fieldset>
        </div>
      </div>
    <% end %>

    <div class="flex-grow-1">
      <div class="d-flex align-items-start">
        <p>You must provide a permissions letter (in PDF format) from the copyright owner of any copyrighted work you have included in your thesis or dissertation.</p>
      </div>
    </div>

    <% if permission_files.any? %>
      <%= render Shared::PermissionFilesStepBodyTableComponent.new(submission:, with_remove: true) %>
    <% end %>

    <%= helpers.with_submission_form(submission) do |form| %>
      <% submission.permission_files.each do |permission_file| %>
        <%= form.hidden_field :permission_files, multiple: true, value: permission_file.signed_id, id: nil %>
      <% end %>
    <% end %>
    <% if permissions_provided? %>
      <%= form_with model: submission, url: attach_permission_files_submission_path(submission) do |form| %>
        <%= form.label :permission_files, 'Upload permission files (maximum size 1GB per file)', class: 'form-label' %>
        <%= form.file_field :permission_files, accept: 'application/pdf', multiple: true, data: { controller: 'submit', action: 'submit#submit' }, class: 'form-control', style: 'width: 350px;' %>
      <% end %>
    <% end %>

    <%= render Shared::FilesStillAttachedModalComponent.new %>
  <% end %>
<% end %>
