<%= render Edit::StepComponent.new(step: SubmissionPresenter::RIGHTS_STEP,
                                   title: t('steps.rights.title'),
                                   submission:,
                                   edit_focus_id:,
                                   done_disabled: done_disabled?) do |component| %>
  <% component.with_help_content do %>
    <%= t('steps.rights.help_html') %>
  <% end %>

  <% component.with_body_content do %>
    <%= render Elements::Tables::TableComponent.new(id: 'copyright-details-table', label: 'Copyright and license terms details', show_label: false) do |component| %>
      <% component.with_row(label: 'Copyright Statement', values: [copyright_statement]) %>
      <% component.with_row(label: 'Stanford License') do |row_component| %>
        <% row_component.with_cell do %>
          <a data-bs-toggle="modal" href="#stanford-license-confirm" role="button">
            <i class="bi bi-card-text me-1"></i> View the Stanford University publication license
          </a>
          <%= helpers.with_submission_form(submission) do |form| %>
            <div class="form-check">
              <%= form.checkbox :sulicense, { class: 'form-check-input', data: { controller: 'submit', action: 'change->submit#submit' } }, 'true', 'false' %>
              <%= form.label :sulicense, class: 'form-check-label' do %>
                I have read and agree to the terms of the Stanford University license. <%= helpers.required_field %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% component.with_row(label: 'Creative Commons') do |row_component| %>
        <% row_component.with_cell do %>
          <a data-bs-toggle="modal" href="#cc-licenses" role="button">
            <i class="bi bi-card-text me-1"></i> More about selecting a Creative Commons license
          </a>
          <%= helpers.with_submission_form(submission) do |form| %>
            <p>Apply <%= form.select :cclicense, cc_license_options, {}, class: 'form-select d-inline', style: 'width: 375px;', data: { controller: 'submit', action: 'change->submit#submit' }, 'aria-label' => 'Creative Commons license (required)' %>
            to my dissertation. <%= helpers.required_field %></p>
          <% end %>
          <p class="text-muted">
            You may optionally apply one Creative Commons license from the menu above. Stanford Libraries recommends the
            "Attribution Non-Commercial" license because it encourages open access and collaboration in the scholarly process.
          </p>
        <% end %>
      <% end %>
      <% component.with_row(label: 'External Release') do |row_component| %>
        <% row_component.with_cell do %>
          <a data-bs-toggle="modal" href="#delayed-release" role="button">
            <i class="bi bi-card-text me-1"></i> More about delaying the release of a dissertation
          </a>
          <%= helpers.with_submission_form(submission) do |form| %>
            <p>
              Release my dissertation <%= form.select :embargo, embargo_options, {}, class: 'form-select d-inline', style: 'width: 175px;', data: { controller: 'submit', action: 'change->submit#submit' }, 'aria-label' => 'Delayed release (required)' %>
              after final approval and processing by the Registrar. <%= helpers.required_field %>
            </p>
          <% end %>
        <% end %>
      <% end %>
      <% component.with_row(label: 'Preview') do |row_component| %>
        <% row_component.with_cell do %>
          <%= render Elements::ExternalLinkComponent.new(url: preview_submission_path(submission), label: 'Preview the Copyright and Signature pages') %>
          <p class="text-muted">
            These pages will be automatically inserted into your dissertation PDF file. See the “Review your dissertation's formatting” section for more information.
          </p>
        <% end %>
      <% end %>
    <% end %>

    <%= render Elements::ModalComponent.new(id: 'stanford-license-confirm', title: 'Stanford University thesis and dissertation publication license') do |component| %>
      <% component.with_body do %>
        <p>
          In submitting a thesis or dissertation to Stanford, the Author grants The Trustees of
          Leland Stanford Junior University (Stanford) the <strong>non-exclusive</strong>, worldwide, perpetual,
          irrevocable right to reproduce, distribute, display and transmit Author's thesis or
          dissertation, including any supplemental materials (the Work), in whole or in part in
          such print and electronic formats as may be in existence now or developed in the future,
          to sub-license others to do the same, and to preserve and protect the Work, subject
          to any third-party release or display restrictions specified by Author on submission of
          the Work to Stanford.
        </p>
        <p>
          Author further represents and warrants that Author is the copyright holder of the Work,
          and has obtained all necessary rights to permit Stanford to reproduce and distribute
          third party materials contained in any part of the Work, including use of third-party images,
          text, or music, as well as all necessary licenses relating to any non-public,
          third-party software necessary to access, display, and run or print the Work.  Author is
          solely responsible and will indemnify Stanford for any third party claims related
          to the Work as submitted for publication.
        </p>
        <p>
          Author warrants that the Work does not contain information protected by the Health Insurance
          Portability and Accountability Act (HIPAA), the Family Educational Rights and
          Privacy Act (FERPA), confidentiality agreements, or contain Stanford Prohibited, Restricted
          or Confidential data described at <%= render Elements::ExternalLinkComponent.new(url: 'http://www.stanford.edu/group/security/securecomputing/dataclass_chart.html') %>,
          or other data of a private nature.
        </p>
        <p>
          Stanford is under no obligation to use, display or host the work in any way and may elect
          not to use the work for any reason including copyright or other legal concerns,
          financial resources, or programmatic need.
        </p>
      <% end %>

      <% component.with_footer do %>
        <div class="d-flex justify-content-end">
          <%= render Elements::ButtonComponent.new(label: 'Close', variant: :primary, data: { bs_dismiss: 'modal' }) %>
        </div>
      <% end %>
    <% end %>

    <%= render Elements::ModalComponent.new(id: 'cc-licenses', title: 'Creative Commons licenses') do |component| %>
      <% component.with_body do %>
        <p>
          Stanford requires that all dissertations and theses submitted via this system have the Stanford License applied.
          The Stanford License specifically gives Stanford the right to store and display your thesis or dissertation.
          Because Stanford will make your thesis or dissertation publicly accessible, readers may locate your publication
          and may wish to use parts of it in their own work.
        </p>
        <p>
          Because you hold the copyright to your work, your permission for that reuse is necessary. By applying a
          Creative Commons license to your work, you make clear to users the terms and conditions under which they may
          reuse your material, obviating the need for them to contact you directly. Applying a Creative Commons license
          does not take away any of your rights; rather, it makes clear to readers of your work what kind of reuse you permit.
        </p>
        <p>
          You may optionally apply one Creative Commons license. Stanford Libraries recommends the "Attribution Non-Commercial"
          license because it encourages open access and collaboration in the scholarly process. For more information,
          please see  <%= render Elements::ExternalLinkComponent.new(url: 'https://sdr.library.stanford.edu/documentation/license-options', label: 'Creative commons license options') %>.
        </p>
      <% end %>

      <% component.with_footer do %>
        <div class="d-flex justify-content-end">
          <%= render Elements::ButtonComponent.new(label: 'Close', variant: :primary, data: { bs_dismiss: 'modal' }) %>
        </div>
      <% end %>
    <% end %>

    <%= render Elements::ModalComponent.new(id: 'delayed-release', title: 'Delayed release') do |component| %>
      <% component.with_body do %>
        <p>
          Stanford is committed to the timely and broad dissemination of the scholarly output of its students. In some cases, however,
          it may be appropriate for a student to delay the release of their dissertation or thesis. For instance, a student may opt
          to embargo the dissertation for a limited amount of time while a patent application is in process or while
          pursuing commercial interests or other publication.
        </p>
        <p>
          An embargo delays the release of a dissertation, meaning the dissertation cannot be read or downloaded except by Stanford affiliates.
          This also means the dissertation cannot be accessed by search engines and other third-party distributors.
        </p>
        <p>
          Whether or not you choose to embargo your dissertation, the full citation (including the abstract) will become publicly available
          after final approval and processing by the Registrar.
        </p>
        <p>
          If an embargo is appropriate for you, please select one of the release delay options. If you have any questions about whether you
          should embargo your dissertation, please consult with your advisor.
        </p>
      <% end %>

      <% component.with_footer do %>
        <div class="d-flex justify-content-end">
          <%= render Elements::ButtonComponent.new(label: 'Close', variant: :primary, data: { bs_dismiss: 'modal' }) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
