<%= tag.section class: classes, data:, id:, 'aria-label': aria_label do %>
  <%= tag.div class: 'card-header card-step-header' do %>
    <%= tag.div class: 'd-flex align-items-start' do %>
      <div class="flex-grow-1">
        <div class="d-flex align-items-start">
          <h2 class="h4">
            <%= render Edit::CharacterCircleComponent.new(character: step_number, classes: 'me-2 step-header', variant: character_circle_variant) %>
            <%= title %>
          </h2>
          <%= render badge_component.new %>
          <div class="flex-fill">
            <div class="d-flex justify-content-end">
              <% unless show? %>
                <%= render Edit::ButtonFormComponent.new(submission:, field: done_field, value: 'false', variant: :link, classes: 'btn-edit text-nowrap', id: edit_id, data: edit_data, 'aria-expanded': false, 'aria-controls': body_id, 'aria-label': "#{edit_label}: #{title}") do %>
                  <i class="bi bi-pencil"></i> <%= edit_label %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="header-help">
          <%= help_content %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= tag.div class: card_body_classes, data: { collapse_target: 'body' }, id: body_id do %>
    <%= body_content %>
    <hr>
    <% if footer_content %>
      <%= footer_content %>
    <% else %>
      <div class="d-flex justify-content-between align-items-baseline">
        <div><%= done_text %></div>
        <%= render Edit::ButtonFormComponent.new(submission:, label: done_label, field: done_field, value: 'true', variant: :primary, data: done_data, disabled: done_disabled, id: done_id, 'aria-expanded': true, 'aria-controls': body_id, 'aria-label': "#{done_label}: #{title}") %>
      </div>
    <% end %>
  <% end %>
<% end %>
