<%= render Edit::StepComponent.new(step: SubmissionPresenter::SUPPLEMENTAL_FILES_STEP,
                                   title: t('steps.supplemental_files.title'),
                                   submission:,
                                   done_disabled: done_disabled?) do |component| %>
  <% component.with_help_content do %>
    <%= t('steps.supplemental_files.help_html') %>
  <% end %>

  <% component.with_body_content do %>
    <%= helpers.with_submission_form(submission) do |form| %>
      <div class="flex-grow-1">
        <div class="d-flex flex-row align-items-start">
          <fieldset class="w-100">
            <div>
              <%= render Edit::SupplementalFilesStepBodyHelpComponent.new %>
            </div>
            <div>
              <%= render Elements::Forms::ToggleComponent.new(form:,
                                                              field_name: :supplemental_files_provided,
                                                              container_classes: 'mb-4') do |component| %>
                <% component.with_left_toggle_option(form:,
                                                     field_name: :supplemental_files_provided,
                                                     label: 'Yes',
                                                     data: { controller: 'submit', action: 'submit#submit' },
                                                     value: 'true') %>
                <% component.with_right_toggle_option(form:,
                                                      field_name: :supplemental_files_provided,
                                                      label: 'No',
                                                      data: { controller: 'submit', action: no_supplemental_files_action },
                                                      value: nil) %>
              <% end %>
            </div>
          </fieldset>
        </div>
      </div>
    <% end %>

    <% if supplemental_files.any? %>
      <%= render Shared::SupplementalFilesStepBodyTableComponent.new(submission:, with_remove: true) %>
    <% end %>
    <%= helpers.with_submission_form(submission) do |form| %>
      <% submission.supplemental_files.each do |supplemental_file| %>
        <%= form.hidden_field :supplemental_files, multiple: true, value: supplemental_file.signed_id, id: nil %>
      <% end %>
    <% end %>
    <% if supplemental_files_provided? %>
      <%= form_with model: submission, url: attach_supplemental_files_submission_path(submission) do |form| %>
        <%= form.label :supplemental_files, class: 'form-label' do %>
          Upload supplemental files (maximum size 1GB per file) <%= helpers.required_field %>
        <% end %>
        <%= form.file_field :supplemental_files, multiple: true, data: { controller: 'submit', action: 'submit#submit' }, class: 'form-control', style: 'width: 350px;' %>
      <% end %>
    <% end %>

    <%= render Shared::FilesStillAttachedModalComponent.new %>
  <% end %>
<% end %>
