<aside class="card progress-card" aria-label="Progress">
  <div class="card-header">
    <h2 class="h4">Progress</h2>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li><%= render progress_card_step_component(step: SubmissionPresenter::CITATION_STEP, label: 'Citation details verified') %></li>
      <li><%= render progress_card_step_component(step: SubmissionPresenter::ABSTRACT_STEP, label: 'Abstract provided') %></li>
      <li><%= render progress_card_step_component(step: SubmissionPresenter::FORMAT_STEP, label: 'Format reviewed') %></li>
      <li><%= render progress_card_step_component(step: SubmissionPresenter::DISSERTATION_STEP, label: 'Dissertation uploaded') %></li>
      <li><%= render progress_card_step_component(step: SubmissionPresenter::SUPPLEMENTAL_FILES_STEP, label: 'Supplemental files uploaded') %></li>
      <li><%= render progress_card_step_component(step: SubmissionPresenter::PERMISSION_FILES_STEP, label: 'Permission files uploaded') %></li>
      <li><%= render progress_card_step_component(step: SubmissionPresenter::RIGHTS_STEP, label: 'License terms applied') %></li>
      <li><%= render progress_card_step_component(step: SubmissionPresenter::SUBMITTED_STEP, label: 'Submitted to Registrar', step_at: submitted_at) %></li>
    </ul>
    <hr>
    <%= render Shared::ProgressCardStepComponent.new(variant: :blank, label: 'Verified by Final Reader', aria_label: 'Verified by Final Reader, Pending', classes: 'd-flex align-items-center') %>
    <%= render Shared::ProgressCardStepComponent.new(variant: :blank, label: 'Approved by Registrar', aria_label: 'Approved by Registrar, Pending', classes: 'd-flex align-items-center') %>
  </div>
</aside>
