<aside class="card progress-card sticky-top" aria-label="Progress">
  <div class="card-header">
    <h2 class="h4 mb-0">Progress</h2>
  </div>
  <div class="card-body">
    <ul class="list-unstyled mb-0">
      <% if with_student_steps? %>
        <%= tag.li 'aria-label': aria_label_for_step(step: SubmissionPresenter::CITATION_STEP, label: 'Citation details verified') do %>
          <%= render progress_card_step_component(step: SubmissionPresenter::CITATION_STEP, label: 'Citation details verified') %>
        <% end %>
        <%= tag.li 'aria-label': aria_label_for_step(step: SubmissionPresenter::ABSTRACT_STEP, label: 'Abstract provided') do %>
          <%= render progress_card_step_component(step: SubmissionPresenter::ABSTRACT_STEP, label: 'Abstract provided') %>
        <% end %>
        <%= tag.li 'aria-label': aria_label_for_step(step: SubmissionPresenter::FORMAT_STEP, label: 'Format reviewed') do %>
          <%= render progress_card_step_component(step: SubmissionPresenter::FORMAT_STEP, label: 'Format reviewed') %>
        <% end %>
        <%= tag.li 'aria-label': aria_label_for_step(step: SubmissionPresenter::DISSERTATION_STEP, label: 'Dissertation uploaded') do %>
          <%= render progress_card_step_component(step: SubmissionPresenter::DISSERTATION_STEP, label: 'Dissertation uploaded') %>
        <% end %>
        <%= tag.li 'aria-label': aria_label_for_step(step: SubmissionPresenter::SUPPLEMENTAL_FILES_STEP, label: 'Supplemental files uploaded') do %>
          <%= render progress_card_step_component(step: SubmissionPresenter::SUPPLEMENTAL_FILES_STEP, label: 'Supplemental files uploaded') %>
        <% end %>
        <%= tag.li 'aria-label': aria_label_for_step(step: SubmissionPresenter::PERMISSION_FILES_STEP, label: 'Permission files uploaded') do %>
          <%= render progress_card_step_component(step: SubmissionPresenter::PERMISSION_FILES_STEP, label: 'Permission files uploaded') %>
        <% end %>
        <%= tag.li 'aria-label': aria_label_for_step(step: SubmissionPresenter::RIGHTS_STEP, label: 'License terms applied') do %>
          <%= render progress_card_step_component(step: SubmissionPresenter::RIGHTS_STEP, label: 'License terms applied') %>
        <% end %>
      <% end %>
      <%= tag.li 'aria-label': aria_label_for_step(step: SubmissionPresenter::SUBMITTED_STEP, label: 'Submitted to Registrar') do %>
        <%= render progress_card_step_component(step: SubmissionPresenter::SUBMITTED_STEP, label: 'Submitted to Registrar', step_at: submitted_at) %>
      <% end %>
      <hr>
      <%= tag.li 'aria-label': aria_label_for_step(step: SubmissionPresenter::READER_APPROVAL_STEP, label: 'Verified by Final Reader') do %>
        <%= render progress_card_step_component(step: SubmissionPresenter::READER_APPROVAL_STEP, label: 'Verified by Final Reader', step_at: last_reader_action_at, comment: readercomment) %>
      <% end %>
      <hr>
      <%= tag.li 'aria-label': aria_label_for_step(step: SubmissionPresenter::REGISTRAR_APPROVAL_STEP, label: 'Approved by Registrar') do %>
        <%= render progress_card_step_component(step: SubmissionPresenter::REGISTRAR_APPROVAL_STEP, label: 'Approved by Registrar', step_at: last_registrar_action_at, comment: regcomment) %>
      <% end %>
    </ul>
  </div>
</aside>
