<div class="card progress-card">
  <div class="card-header">
    <h2 class="h4">Progress</h2>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li id="step-1"><%= step_number_for(1) %> Citation details verified</li>
      <li id="step-2"><%= step_number_for(2) %> Abstract provided</li>
      <li id="step-3"><%= step_number_for(3) %> Format reviewed</li>
      <li id="step-4"><%= step_number_for(4) %> Dissertation uploaded</li>
      <li id="step-5"><%= step_number_for(5) %> Supplemental files uploaded</li>
      <li id="step-6"><%= step_number_for(6) %> Copyrighted material checked</li>
      <li id="step-7"><%= step_number_for(7) %> License terms applied</li>
      <li id="step-8">
        <%= step_number_for(8) %> <div class="d-inline-flex flex-column"><div>Submitted to Registrar</div><div class="text-muted"><%= helpers.local_time(submitted_at) if step8_done? %></div></div>
      </li>
    </ul>
    <hr>
    <div class="d-flex align-items-center">
      <%= render Edit::CharacterCircleComponent.new(character: '', variant: :blank, classes: 'me-2 my-2') %><div>Verified by Final Reader</div>
    </div>
    <hr>
    <div class="d-flex align-items-center">
      <%= render Edit::CharacterCircleComponent.new(character: '', variant: :blank, classes: 'me-2 my-2') %><div>Approved by Registrar</div>
    </div>
  </div>
</div>
