    <%= render Elements::AttachedFilesComponent.new(type: 'dissertation',label: 'Dissertation file', files: [dissertation_file], required_file_type: 'PDF', upload_button: 'submission_dissertation_file') %>
    <% if form %>
      <%= form.file_field :dissertation_file, direct_upload: true, accept: 'application/pdf', style: 'display:none;' %>
    <% end %>

    <h3 class="h5">Supplemental Files</h3>

    <div class="d-flex align-items-stretch">
      <div class="p-2">
        <p>Does your dissertation include supplemental files?<br />Click Yes if you have additional files to upload.</p>
      </div>
      <div class="p-2">
        <%= render Elements::Forms::ToggleComponent.new(form:,
                                                        field_name: :with_supplemental_files,
                                                        label_classes: 'fw-bold',
                                                        hidden_label: true,
                                                        label: helpers.t('step4.supplemental_files_label'),
                                                        container_classes: 'mb-4') do |component| %>
          <% component.with_left_toggle_option(form:,
                                              field_name: :with_supplemental_files,
                                              label: 'Yes',
                                              data: { action: 'change->step4#showSupplementalFilesSection' },
                                              value: true) %>
          <% component.with_right_toggle_option(form:,
                                                field_name: :with_supplemental_files,
                                                label: 'No',
                                                data: { action: 'change->step4#hideSupplementalFilesSection' },
                                                value: false) %>
        <% end %>
      </div>
    </div>

    <div data-step4-target="supplementalFilesSection" class="d-none">
      <%= render Elements::AttachedFilesComponent.new(type: 'supplemental', label: 'Supplemental file', files: supplemental_files, upload_button: 'submission_supplemental_files') %>
      <% if form %>
        <%= form.file_field :supplemental_files, multiple: true, direct_upload: true, style: 'display:none;' %>
      <% end %>
    </div>
