<% content_for :head do %>
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
<% end %>

<% content_for :header do %>
  <%= render HeaderComponent.new(current_user: @current_user,
                                 title: t('submitter.title'),
                                 subtitle: t('submitter.subtitle')) %>
<% end %>

<div class="row gy-2">
  <div class="col-lg-8 order-2 order-lg-1">
    <%= render Edit::WelcomeBannerComponent.new(submission: @submission) %>
    <%= form_with model: @submission,
                  url: submission_path(@submission.dissertation_id),
                  data: { controller: 'submit-form' } do |form| %>

      <%= render Edit::Step1Component.new(submission_presenter: @submission_presenter, form:) %>
      <%= render Edit::Step2Component.new(submission_presenter: @submission_presenter, form:) %>
      <%= render Edit::Step3Component.new(submission_presenter: @submission_presenter, form:) %>
      <%= render Edit::Step4Component.new(submission_presenter: @submission_presenter, form:) %>

      <%# STEP 5 %>
      <%= render Edit::StepComponent.new(step_number: 5,
                                         title: 'Upload permissions', show: !@submission_presenter.step5_done?) do |component| %>
        <% component.with_help_content do %>
          <p>Permission is required for reuse of any copyrighted material in your dissertation.</p>
        <% end %>

        <% component.with_body_content do %>
          <%# TODO: Step 5 %>
        <% end %>
      <% end %>

      <%= render Edit::Step6Component.new(submission_presenter: @submission_presenter, form:) %>
      <%= render Edit::Step7Component.new(submission_presenter: @submission_presenter, form:) %>
    <% end %>
  </div>
  <div class="col-lg-4 order-1 order-lg-2">
    <%= render Shared::ProgressCardComponent.new(submission_presenter: @submission_presenter) %>
  </div>
</div>
<%= render Elements::ModalComponent.new(id: 'review-modal', scrollable: true, size: :xl) do |component| %>
  <% component.with_header do %>
    <div class="d-flex flex-column">
      <div class="h3">Review and submit</div>
      <div class="h5">Scroll down to review your details and selections before submitting.</div>
    </div>
  <% end %>

  <% component.with_body do %>
    <%= turbo_frame_tag @submission, 'review', src: review_submission_path(@submission.dissertation_id), loading: 'lazy' do %>
    <% end %>
  <% end %>

  <% component.with_footer do %>
    <div class="d-flex justify-content-between align-items-baseline w-100">
      <div>By clicking Submit, I verify my thesis or dissertation is complete.</div>
      <div>
        <%= render Elements::ButtonComponent.new(label: 'Go back', variant: :'outline-primary', data: { 'bs-dismiss': 'modal' }, 'aria-label': 'Close', classes: 'me-3') %>
        <%= render Elements::ButtonLinkComponent.new(label: 'Submit to Registrar', variant: :primary, link: submit_submission_path(@submission.dissertation_id), data: { turbo_method: :post }) %>
      </div>
    </div>
  <% end %>
<% end %>
