<% content_for :head do %>
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
<% end %>

<% content_for :header do %>
  <%= render HeaderComponent.new(current_user: @current_user,
                                 title: t('submitter.title'),
                                 subtitle: t('submitter.subtitle')) %>
<% end %>

<div class="container">
  <div class="row gy-2" data-controller="focus" data-action="turbo:render@window->focus#restoreFocus">
    <div id="focus" data-turbo-permanent="true" data-focus-target="permanent"></div>
    <div class="col-lg-8 order-2 order-lg-1">
      <%= render Edit::WelcomeBannerComponent.new(submission: @submission) %>

      <%= render Edit::CitationStepComponent.new(submission: @submission) %>
      <%= render Edit::AbstractStepComponent.new(submission: @submission) %>
      <%= render Edit::FormatStepComponent.new(submission: @submission) %>
      <%= render Edit::DissertationStepComponent.new(submission: @submission) %>
      <%= render Edit::SupplementalFilesStepComponent.new(submission: @submission) %>
      <%= render Edit::PermissionFilesStepComponent.new(submission: @submission) %>
      <%= render Edit::RightsStepComponent.new(submission: @submission) %>
      <%= render Edit::SubmittedStepComponent.new(submission: @submission) %>
    </div>
    <div class="col-lg-3 order-1 order-lg-2">
      <%= render Shared::ProgressCardComponent.new(submission: @submission) %>
    </div>
  </div>
</div>
