<% content_for :title, 'View dissertation or thesis' %>
<% content_for :header do %>
  <%= render HeaderComponent.new(current_user: @current_user,
                                 title: 'View dissertation or thesis',
                                 subtitle: 'Reader review and approval') %>
<% end %>

<div class="container without-progress-bar">
  <%= render Elements::StatusAlertComponent.new do %>
    <div><span class="fw-bold">Dissertation ID:</span> <%= @submission.dissertation_id %></div>
    <div><%= render Elements::ExternalLinkComponent.new(url: 'https://inside-studentservices.stanford.edu/supporting-students-across-topics/academic-progress-graduation/degree-progress-graduate-0', label: 'Faculty guide for reviewing theses and dissertations') %></div>
  <% end %>

  <%= render ReaderReview::CitationStepComponent.new(submission: @submission) %>
  <%= render ReaderReview::AbstractStepComponent.new(submission: @submission) %>
  <%= render ReaderReview::RightsStepComponent.new(submission: @submission) %>
  <%= render ReaderReview::DissertationComponent.new(submission: @submission) %>
  <%= render ReaderReview::SupplementalFilesComponent.new(submission: @submission) %>
  <%= render ReaderReview::PermissionFilesComponent.new(submission: @submission) %>
</div>
