<%= render Elements::AlertComponent.new do %>
  <div><span class="fw-bold">Dissertation ID:</span> <%= @submission.dissertation_id %></div>
  <div><%= render Elements::ExternalLinkComponent.new(url: 'https://inside-studentservices.stanford.edu/supporting-students-across-topics/academic-progress-graduation/degree-progress-graduate-0', label: 'Faculty guide for reviewing theses and dissertations') %></div>
<% end %>

<%= render ReaderReview::Step1Component.new(submission: @submission) %>
<%= render ReaderReview::Step2Component.new(submission: @submission) %>
<%= render ReaderReview::Step6Component.new(submission: @submission) %>
