<div class="d-flex justify-content-between align-items-start">
  <h1>Review and submit</h1>
  <%= render Elements::ButtonLinkComponent.new(label: 'Go back', variant: :'outline-primary', link: edit_submission_path(@submission.dissertation_id), classes: 'me-3') %>
</div>

<div class="h3">Scroll down to review your details and selections before submitting</div>

<%= render Elements::AlertComponent.new(variant: :warning) do %>
  After your thesis or dissertation has been submitted to the Registrar, no further changes can be made.
<% end %>

<%= render Show::Step1Component.new(submission: @submission) %>

<hr>

<div class="d-flex justify-content-between align-items-baseline">
  <div>By clicking Submit, I verify my thesis or dissertation is complete.</div>
  <div>
    <%= render Elements::ButtonLinkComponent.new(label: 'Go back', variant: :'outline-primary', link: edit_submission_path(@submission.dissertation_id), classes: 'me-3') %>
    <%= render Elements::ButtonLinkComponent.new(label: 'Submit to Registrar', variant: :primary, link: submit_submission_path(@submission.dissertation_id), data: {turbo_method: :post}) %>
  </div>
</div>
